header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-primary-100;
  padding: 20px 0;

  .container {
    max-width: 1440px;
    width: 100vw;
  }

  .logo {
    span {
      display: none;
    }

    img {
      height: 16px;
    }
  }
}
